* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.site {
  background-image: url("../public/woodtexture.jpg");
  min-height: 100vh;
}

.main-content {
  background-color: #fdfdfd;
  margin: 0 auto;
  max-width: 1250px;
  box-shadow: rgba(0, 0, 0, 0.5) 12px 3px 8px;
  min-height: 100vh;
}

.cards {
  background-color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1250px;
  justify-content: center;
  padding: 10px;

  div.card {
    width: 240px;

    img {
      width: 240px;
      filter: drop-shadow(4px 4px 4px black);
      cursor: pointer;
    }
  }
}

.select-container {
  background-color: #8b0000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1250px;
  padding: 10px;
  margin: 0 auto;
  top: 0;
  flex-wrap: wrap;

  div {
    display: flex;
    gap: 5px;
  }
}

.flex-dummy {
  display: inline-block;
  width: 250px;
}

.loader-container {
  display: flex;
  height: calc(100vh - 40px);
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  background-color: white;
  display: flex;

  .modal-button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-img {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      filter: drop-shadow(4px 4px 4px black);
      padding: 10px;
      max-width: 300px;
    }
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex: 1;
    justify-content: center;

    p:nth-of-type(1) {
      font-size: 2rem;
      font-weight: bold;
    }

    p:nth-of-type(2) {
      font-style: italic;
    }

    p {
      span {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    max-width: 320px;
    flex-direction: column;
    img {
      width: 240px;
      padding: 0px;
    }

    .card-info {
      font-size: 0.8rem;

      p:nth-of-type(1) {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}
